pip install pyttsx3
pip install SpeechRecognition
pip install pyaudio
pip install pyautogui
pip install tensorflow
pip install requirements.txt
pip install psutil
pip install elevenlabs requests
pip install python-dotenv